.headerimg {
    filter:  blur(0px);
    opacity: 0.75;
    width: 100%;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.headerbar {
    position: relative;
}

.headerparprt{
    .row>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 0 !important;
        padding-left: calc(var(--bs-gutter-x) * 1);
        margin-top: var(--bs-gutter-y);
    }
}

.searchboxprnt {
    position: absolute;
    left:     0;
    right:    0;
    top:      0;

    .quicksearchheader {
        padding-bottom: 10px;
        font-size:      18px;
    }

    .searchbox {
        padding-top:      10px;
        padding-left:     20px;
        margin:           40px auto auto auto;
        width:            800px;
        max-width:        calc(100% - 30px);
        background-color: rgba(255, 255, 255, 0.7);
    }

    .seachbutton {
        border:        1px solid black;
        border-radius: 4px;
        height:        28px;
        width:         100%;
        background:    none;
        padding-right: 9px;
    }

    small {
        opacity: 0.7;
    }

    .quicksearchinput {
        border:           1px solid black;
        border-radius:    4px;
        background-color: white;

        input {
            border:      none;
            border-left: 1px solid black;
            width:       80%;
        }

        input:focus {
            outline: none !important;
        }

        i {
            padding: 0 3px 0 6px;
        }
    }

    .location {
        input {
            width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .searchboxprnt {
        width:    100%;
        position: static;
        left:     0;
        right:    0;
        top:      0;
    }
    .resp-nopad-r {
        padding-right: 0;
    }
}

@media screen and (min-width: 992px) {
    .resp-nopad-r {
        padding-right: 25px;
    }
}